<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mathtinik.thesis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".unlock" />
        <activity android:name=".challenge_template" />
        <activity android:name=".level_choice" />
        <activity android:name=".levels" />
        <activity android:name=".matching"/>
        <activity android:name=".hard_matching"/>
        <activity android:name=".gamechoices" />
        <activity android:name=".settings" />
        <activity android:name=".level31" />
        <activity android:name=".level61" />
        <activity android:name=".chall61_template" />
        <activity android:name=".chall31_template" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicBg" android:stopWithTask="true"/>
    </application>

</manifest>